.card{
  &__wrapper{
    display: grid;
    grid-gap: .75rem;
    gap: .75rem;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(-webkit-min-content,-webkit-max-content);
    grid-template-rows: minmax(min-content,max-content);
    margin: 1.5rem 0;
  }

  &__note{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: .4rem;
    border: solid 2px var(--bg-muted);
    background-color: var(--bg-clear);
    @include transition(.25s);
    
    &:hover{
      @include box-shadow('0px', '5px', '1rem', '0px', var(--box-shadow));
    }


    &__body{
      flex: 1 1;
      padding: 1rem;
    }

    &__footer{
      display: flex;
    }
  }

  &__message{
    padding: 1.25rem;
    text-align: center;
    background-color: rgba($warning, .4);
    border-radius: .5rem;
    grid-column: 1/5;
  }

  @include breakpoint-screen-min('sm'){
    &__wrapper{
      grid-template-columns: repeat(2,1fr);
    }
  }

  @include breakpoint-screen-min('lg'){
    &__wrapper{
      grid-template-columns: repeat(3,1fr);
      grid-gap: 1rem;
      gap: 1rem;
    }
  }

  @include breakpoint-screen-min('xl'){
    &__wrapper{
      grid-template-columns: repeat(4,1fr);
      grid-gap: 1.25rem;
      gap: 1.25rem;
    }
  }
}