.form{
  &__wrapper{
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    .input-wrapper{
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    label{
      display: block;
      margin-bottom: .5rem;
      font-size: inherit;
      color: inherit;
    }

    .form--input,
    .form--select{
      display: block;
      width: 100%;
      height: auto;
      font-size: inherit;
      color: inherit;
      font-family: inherit;
      outline: none;
      padding: .65rem 1rem;
      background-color: var(--bg-color) !important;
      border: solid 2px transparent;
      border-radius: .35rem;
      @include transition(.25s);

      &:focus{
        border: solid 2px $primary;
      }
    }

    .form--input{
      &::placeholder{
        color: var(--text-muted) !important;
      }

      &:not(:placeholder-shown){
        border: solid 2px $primary !important;
      }
    }

    .form--select{
      color: var(--text-muted) !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: url('../chevron-down.png');
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: right;
      background-origin: content-box;
      cursor: pointer;

      &.active{
        border: solid 2px $primary !important;
        color: var(--text-color) !important;
      }
    }

    .form--checkbox{
      position: absolute;
      opacity: 0;
  
      & + label{
        position: relative;
        cursor: pointer;
        padding: 0;
      }
  
      & + label:before{
        content: "";
        margin-right: 0.75rem;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        border-radius: .3rem;
        color: white;
        background: var(--bg-color);
      }
      &:checked + label:before {
        background: $primary;
      }
      &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
      }
      &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
      }
      &:checked + label:after {
        content: "";
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
      }
    }  
  }

  &--search{
    display: flex;
    flex-flow: row wrap;
    gap: 0.75rem;

    & .form--input{
      width: calc((100% - 130px) - (0.75rem / 2));
    }

    & .form--select{
      width: calc(130px - (0.75rem / 2));
    }
  }

  &--help{
    color: var(--txt-muted);
    font-style: italic;
    display: block;
    text-align: right;
    padding: .3rem .3rem 0 0;
  }

  &__button{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-align: right;
  }

  @include breakpoint-screen-min('xs'){
    &--search{
      & .form--input{
        width: calc((100% - 150px) - (0.75rem / 2));
      }
  
      & .form--select{
        width: calc(150px - (0.75rem / 2));
      }
    }
  }

  @include breakpoint-screen-min('sm'){
    &--search{
      & .form--input{
        width: calc((100% - 200px) - (0.75rem / 2));
      }
  
      & .form--select{
        width: calc(200px - (0.75rem / 2));
      }
    }
  }
}