.text{
  &__heading {
    font-size: 2rem;
    margin: 0 0 1rem;
  }

  &__label {
    font-style: italic;
    font-size: 1rem;
    font-weight: 500;
  }

  &__title{
    margin: 0 0 .25rem;
  }

  &__date{
    font-size: .85rem;
    color: var(--txt-muted);
    margin: 0 0 .25rem;
  }

  &__desc{
    margin-bottom: 1.5rem;
    word-break: break-word;
  }

  &__italic{
    font-style: italic;
  }

  &__right{
    text-align: right;
  }
}